{% extends "main.html" %}

{% block content %} 
<h1 class="mb-4">Liste des Produits de la catégorie {{ cat.name }}</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nom du Produit</th>
            <th>Quantité en Stock</th>
            <th>Prix</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for prod in prod %}
        <tr>
            <td>{{ prod.name }}</td>
            <td>{{ prod.quantityInStock }}</td>
            <td>{{ prod.price }} CFA</td>
            <td>
                <a href="{% url 'addToBasket' prod.id %}" class="btn btn-primary">Ajouter au panier</a>
                <a href="{% url 'deleteProduct' prod.id %}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this product?');">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="mt-4">
    <p>Pas satisfait de la sélection ? <a href="{% url 'addProduct' %}">Cliquez ici pour ajouter de nouveaux produits</a></p>
</div>
<div class="mt-4">
    <p>Retourner à la liste des catégories ? <a href="{% url 'categoryList' %}">Cliquez ici</a></p>
</div>
{% endblock %}